
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
.venv/

# Env files
.env

# VSCode config
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Python specific
*.log

